html body{
    background-color: #ff5e5e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    height: 100%;
    overflow: hidden;
    margin: 10px
}

#container{
    display: flex;
    height: 85%;
    width:100%;
}


#pageHeader{
    border-bottom: 1px solid white;
    margin-bottom: 5px;
}

#stepOneDiv{
    background: rgba(255, 255, 255, 0.445);
    margin: 0 auto;
    width: 95%;
    overflow: auto;
}

#emailForm{
    display: inline;
}

.stepTwo{
     border: 1px solid #ff5e5e;
     flex-basis: 65%;
}

.Hidden{
    display: none;
    top: 0%;
    bottom: 0%;
    margin: 0%;
    max-width: 0;
    max-height: 0; 
}

#emailsHeader{
    font: 1.0em, sans-serif;
    text-align: center;  
    border-bottom: 1px solid white;
    width: 95%;
    
}

#emailLists{
    position: relative;
    width: 100%;
    height:100%;
}

#emailTableDiv{
    padding-top: 10px;
    overflow: auto;
    border-bottom: 1px solid white;
}

#emailTable{
    position: relative;
    bottom: 10px;
    width: 100%;
    overflow: auto;
}



.emailTableItem{
    border: 3px solid black;
    background: rgb(247, 177, 177);
    font-size: 1.0em;
}

#buttonFooter{
    padding-top:2.5px;
    position: relative;
}

